html, body{
    background-color: #fdc0be;
}

/* p{
    color: red;
    margin-top: 0;
    text-emphasis-style: ComicSans;
}

#par-gr{
    color: green;
    margin-top: 0;
}

.white-txt{
    color: blue!important;
    margin-top: 0;
} */

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.edit-cell {
    text-align: center;
}

.edit-cell button {
    display: inline-block;
}

.edit-cell a {
    text-decoration: none;
    background-color: #e47676;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    color: white;
    border-radius: 4px;
}

.edit-cell a:hover {
    background-color: #c45858;
}

table.contained {
    margin: 0 15%;
    width: 70%;
}

table {
    /* border: 1px solid black; */
    /* border: 1px solid #f08080; */
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: start;
    background-color: #d96c6d;
    padding: 8px 4px;
}

tr {
    border-bottom: 1px solid #fc8a8a;
}

tfoot tr {
    border-bottom: 0;
}

tfoot tr.sum td {
    text-align: right;
}

small {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.edit-titulo {
    text-align: center;
    font-size: 3em;
    background-color: #b84648;
    padding: 12px;
    margin: 2px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #f1f1f1;
}

ul.navlist li a {
    text-decoration: none;
    background-color: #e47676;
    padding: 8px 8px;
    margin: 6px 0;
    display: block;
    color: white;
    border-radius: 4px;
}

ul {
    padding: 0;
    width: 15%;
    margin: auto;
    margin-top: 46px;
}

ul.navlist li a:hover {
    background-color: #c45858;
}

ul.navlist {
    text-align: center;
    list-style: none;
}

/* ul.navlist li {
    display: inline;
} */

div.titulos {
    background-color: #ffeae9;
    box-shadow: 0px 8px 20px -8px #000000;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

div.forms {
    background-color: #ffeae9;
    box-shadow: 0px 8px 20px -8px #000000;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.password {
    border: none;
    border-radius: 1px solid black;
}

.btn {
    border: 0;
    background-color: transparent;
    padding: 4px 16px;
    cursor: pointer;
    border-radius: 8px;
}

.btn.btn-success {
    background-color: #ff59a4;
}

.btn.btn-success:hover {
    background-color: #ff77b4;
}

.btn.btn-success:active {
    background-color: #d84587;
}

.btn.btn-warning {
    background-color: #ff4500
}

.btn.btn-warning:hover {
    background-color: #fc6f3b;
}

.btn.btn-warning:active {
    background-color: #c04315;
}

.btn.btn-danger {
    background-color: #ff0000;
}

.btn.btn-danger:hover {
    background-color: #ff4451;
}

.btn.btn-danger:active {
    background-color: #c71717;
}

* {
    font-family: 'Poppins';
}

@media only screen and (max-width: 600px) {
    /* html, body {
        background-color: aqua;
    } */

    ul.navlist {
        width: 75%;
    }
    ul.navlist li a {
        display: block;
    }
}


