body{
    background-color: white;
}

/* p{
    color: red;
    margin-top: 0;
    text-emphasis-style: ComicSans;
}

#par-gr{
    color: green;
    margin-top: 0;
}

.white-txt{
    color: blue!important;
    margin-top: 0;
} */

table {
    border: 1px solid black;
    width: 100%;
}

th {
    text-align: start;
    background-color: #8c8c8c;
    padding: 0;
}

* {
    font-family: 'Poppins';
}
